<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h3>Remote watering</h3>
  </div>
</header>

<div class="container">
  <form ng-show="isLoggedIn()" class="thing-form">
    <p class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="setWatering()">Watering 20 sec</button>
      </span>
    </p>
    <p class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="setWatering(10000)">Watering 10 sec</button>
      </span>
    </p>
    <p class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="setWatering(5000)">Watering 5 sec</button>
      </span>
    </p>
    <p class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="setWatering(3000)">Watering 3 sec</button>
      </span>
    </p>
  </form>

  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in things">
        <li><a href="#" tooltip="{{thing.name}}">{{thing.name}}: {{thing.value / 1000}} sec<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <h2>Log</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="log in logs">
        <li>{{log.name}}:{{log.value}} ({{log.updated}})</li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
